.footer-copyright
{
   background-color:steelblue;
    position : fixed;
    bottom :0;
    width: 100%;
    height: 2.5rem; 
    padding: 15px 15px 15px 15px;
    z-index: 1;
  
}

.Signin-image {
    background-image: url("../../../assets/img/Signin.jpg");
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }  