<app-user-search></app-user-search>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/img/img_avatar1.png" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title"><b>Name : Dhanu</b></h6>
                    <h6 class="card-title"><b>Technology : .Net</b></h6>
                    <h6 class="card-title"><b>Exp : 5years</b></h6>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/img/img_avatar6.png" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title"><b>Name : preethi</b></h6>
                    <h6 class="card-title"><b>Technology : .Net</b></h6>
                    <h6 class="card-title"><b>Exp : 2years</b></h6>
                </div>

            </div>

        </div>
        <div class="col-md-3">
                <div class="card">
                    <img src="../../../assets/img/img_avatar1.png" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title"><b>Name : karthik</b></h6>
                        <h6 class="card-title"><b>Technology : .Net</b></h6>
                        <h6 class="card-title"><b>Exp : 3years</b></h6>
                    </div>
    
                </div>
    
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <img src="../../../assets/img/img_avatar6.png" class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title"><b>Name : sindhu</b></h6>
                            <h6 class="card-title"><b>Technology : .Net</b></h6>
                            <h6 class="card-title"><b>Exp : 3years</b></h6>
                        </div>
        
                    </div>
        
                </div>
    </div>
    <br>
    <br>
    <br>
</div>
